@{
    ViewData["Title"] = "Privacy Policy";
    var usr = ViewData.Model;
}
<h1>@ViewData["Title"]</h1>

<script>
    function help() {
        var x = document.getElementById("Text");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

<body>
    <p>
        <button onclick="help()" style="background-color:white">Name : @ViewData["name"]</button>
    </p>


    <div id="Text" style="display :none">
        <p>
            <button onclick="help()" style="background-color:white">Country : @ViewData["count"]</button>
    </div>
</body>